@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');
.nav-link{
	margin-right: 15px;
	color:black;
	letter-spacing: 0.5px;
	transition: 0.5s;
	background-color: transparent;
	border-radius: 25px;
	border: 2px solid #2F363F;
}
.navbar-light .navbar-nav .nav-link {
    color: rgba(0,0,0,1);
}
.navbar-light .navbar-nav .nav-link:hover{
	background-color: black;
	color: white;
}

.navbar navbar-expand-md navbar-light bg-light{
	background-color: #202020;
	opacity: 0.9;
}
.navbar-brand{
	color: #4C4B4B;
	
	background: transparent;
    width: 100px;
    height: 100px;
	margin-left: 30px;
	margin-top: 0;
}
h2{
	color: #4C4B4B;
	letter-spacing: 0.5px;
	font-family: raleway;
}

.logo{
	width: 20px;
	height: 20px;
}